.ventana {
    /* Ocultar el contenido */
    display: none;/* <----- */

    width: 65rem;
    height: 40rem;
    background-color: #5D30BF;

    position: absolute;
    top: 10rem;
    right: 20rem;
}
.barra_sup{
    background-color: #3772CC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botones img{
    width: 20px;
    height: 20px;
    margin: 5px;
}
.botones{
    align-items: center;
}
.titulo{
    color: white;
    font-size: 20px;
}
.activo{
    display: block;
}